/* grid */
.grid-two-column-layout {
  display: grid;
  grid-template-columns: 1fr;
}

.g-2rem {
  gap: 2rem;
}

.g-v-center {
  align-items: center;
}

/* spacing */

.space-2rem {
  margin-top: 2rem;
}

.p-2rem {
  padding: 2rem;
}

.plr-2rem {
  padding: 0 2rem;
}

.ptb-2rem {
  padding: 2rem 0;
}

.mt-2rem {
  margin-top: 2rem;
}

/* typography */

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* components */
.btn {
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

.btn-primary {
  border: 3px solid var(--secondary-color);
  transition: all 0.3s linear;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: #eeeeee;
}

.border-10 {
  border-radius: 10px;
}

.white-text {
  color: var(--background-color);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

/* layout */

.min-vh-80 {
  min-height: 80vh;
}

.max-1200-center {
  max-width: 1200px;
  margin: 0 auto;
}

.max-1000-center {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

/* style */
.background-secondary {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.75rem;
  }

  p {
    font-size: 1.3rem;
  }

  .max-1000-center {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .grid-two-column-layout {
    grid-template-columns: 50% 50%;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.4rem;
  }

  .max-1000-center {
    padding: 0;
  }
}
