.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.btn:focus {
  outline: 2px double var(--bg-primary);
  outline-offset: 2px;
}

.btn i {
  margin: 0 0.4rem;
}

/* buttons */
.btn:not(.btn-icon) {
  border: 1px solid transparent;
  border-radius: 0.475rem;
  padding: 0.7rem 0.8rem;
  color: var(--white-text);
  transition: background-color 0.2s linear;
}

.btn[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.btn-primary {
  background-color: var(--bg-primary);
}

.btn-primary:hover {
  background-color: #013f9b;
}

.btn.btn-primary-outline {
  border: 1px solid var(--bg-primary);
  color: var(--black-color);
}

.btn-primary-outline:hover {
  background-color: var(--bg-primary);
  color: var(--white-text);
}

.btn.btn-secondary {
  background-color: var(--bg-secondary);
  color: var(--black-color);
}

.btn-secondary:hover {
  background-color: #6a8686;
}

.btn.btn-secondary-outline {
  border: 1px solid var(--bg-secondary);
  color: var(--black-color);
}

.btn.btn-secondary-outline:hover {
  background-color: var(--bg-secondary);
}

.btn-success {
  background-color: var(--btn-success);
}

.btn-success:hover {
  background-color: #11583a;
}

.btn-danger {
  background-color: var(--btn-danger);
}

.btn-danger:hover {
  background-color: #ac0011;
}

.btn.btn-warning {
  background-color: var(--btn-warning);
  color: var(--black-color);
}

.btn.btn-warning:hover {
  background-color: #f0c33e;
}

.btn.btn-info {
  background-color: var(--btn-info);
  color: var(--black-color);
}

.btn-info:hover {
  background-color: #12bbdd;
}

.btn.btn-lg {
  padding: 1.2rem 2rem !important;
}

.btn.btn-sm {
  padding: 0.5rem 0.6rem !important;
}

.btn.btn-link {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--bg-primary);
  color: initial;
  font-size: 1.2rem;
}

.btn.btn-link:hover {
  color: var(--bg-primary);
}

.btn.icon-btn-primary i {
  color: var(--bg-primary);
  font-size: 1.2rem;
}

/* toggle btn */

.toggle-btn {
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  width: 90px;
  outline: 2px solid var(--black-color);
  position: relative;
}

.toggle-btn input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  cursor: pointer;
}

.toggle-input:checked + .slider {
  transform: translateX(100%);
  background-color: #dc3545;
}

.slider {
  border-radius: 10px;
  position: absolute;
  top: 5%;
  left: 2.5%;
  width: 45%;
  height: 90%;
  background-color: #dc354693;
  transition: transform 0.3s linear;
  cursor: pointer;
}

.message {
  position: absolute;
  top: -5px;
  left: 0;
  height: 100%;
  width: 100%;
}

.message::after {
  position: absolute;
  content: "OFF";
  color: var(--black-color);
  font-weight: bold;
  font-size: 1.2rem;
  top: 25%;
  right: 6px;
}

.toggle-input:checked ~ .message::after {
  content: "ON";
  left: 6px;
}
