.form {
  width: 100%;
  color: var(--black-color);
}

.form-label {
  margin: 1rem 0;
}

.form-field,
textarea {
  outline: 1px solid var(--secondary-txt);
  border: none;
  display: block;
  margin: 1rem 0;
}

.form-field:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--bg-primary);
}

.form-field.w-100 {
  width: 100%;
}

.field-required::after {
  position: relative;
  left: 4px;
  content: "*";
  color: var(--red-color);
}

/* validate form */
.row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.label-container {
  width: 20%;
  margin-right: 2rem;
}

.input-container {
  position: relative;
  width: calc(80% - 2rem);
}

.input-container .form-field {
  width: 100%;
}

.checkbox-field {
  position: relative;
}

.checkbox-field .input-container {
  width: 1rem;
  position: static;
}

.form-field-validation-message {
  display: none;
  position: absolute;
  bottom: -1rem;
}

.valid-message {
  color: var(--green-color);
}

.invalid-message {
  color: var(--color-red);
}

.form .form-field:valid ~ .valid-message {
  display: block;
}

.form.validate .form-field:invalid ~ .invalid-message {
  display: block;
}

[type="checkbox"] {
  outline: none;
  height: 2rem;
}
