.grid {
  display: grid;
  min-height: 100px;
}

/* mobile first approach */

.grid-20-80,
.grid-50-50,
.grid-three-column {
  grid-template-columns: 1fr;
}

.grid-y-center {
  align-items: center;
}

.grid-x-center {
  justify-content: center;
}

/* center item both vertically and horizontally */
.grid-center {
  place-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-x-1 {
  column-gap: 1rem;
}

.gap-y-1 {
  row-gap: 1rem;
}

@media screen and (min-width: 769px) {
  .grid-20-80 {
    grid-template-columns: 20% 1fr;
  }

  .grid-50-50 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-three-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
