.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating input,
.static-rating input {
  display: none;
}

.rating label,
.static-rating label {
  color: var(--bg-rating);
  cursor: pointer;
  font-size: 1.2rem;
  margin: auto 0.5rem;
}

.static-rating label {
  cursor: auto;
}

.rating label:hover,
.rating label:hover ~ label {
  color: #ffb3009c;
}

.rating input:checked ~ label {
  color: var(--rating-checked);
}

/* read only class */
.static-rating .fill {
  color: var(--rating-checked);
}
