.slider-container {
  width: 90%;
}

.slider-container input[type="range"] {
  width: 100%;
}

.icon-slider {
  display: flex;
  align-items: center;
}

.icon-slider .slider-icon {
  color: var(--black-color);
}
