:root {
  --bg-primary: #0b5ed7;
  --bg-secondary: #5c636a31;

  --secondary-txt: #6c757d;
  --white-txt: #fff;
  --black-color: #000;
  --green-color: #006e00;

  --light-shadow: 2px 2px 8px;

  --primary-alert: #cfe2ff;
  --secondary-alert: #e2e3e5;
  --success-alert: #d1e7dd;
  --danger-alert: #f8d7da;
  --warning-alert: #fff3cd;
  --info-alert: #cff4fc;
  --btn-success: #157347;
  --btn-danger: #bb2d3b;
  --btn-warning: #ffca2c;
  --btn-info: #0dcaf0;

  --online: #1ba81b;
  --offline: #ff0000;
  --number-bg: #0099ff;
}
