/* aside navigation */
.aside-nav {
  border-bottom: 2px solid var(--text-gray);
  margin-top: 5rem;
}

.aside-navigation li a {
  border-radius: var(--size-5);
  display: inline-block;
  height: 100%;
  padding: var(--size-5);
  transition: padding 0.3s linear;
  width: 100%;
}

.aside-navigation li a:hover {
  background-color: var(--text-hover-background);
  padding-left: var(--size-10);
}

.aside-navigation {
  font-size: var(--size-9);
  height: 2rem;
  overflow-y: hidden;
  transition: height 0.3s linear;
}

.component-dropdown {
  background-color: var(--background-color);
  cursor: pointer;
  font-size: var(--size-10);
  position: sticky;
  top: 0;
}

.dropdown-arrow i {
  font-size: var(--size-10);
  transition: transform 0.3s linear;
}

.main-content {
  padding: 0 1rem 2rem;
}

.main-content aside {
  display: none;
}

.page-navigation li:not(:first-child) {
  padding-top: 0.825rem;
}

.page-navigation li a {
  color: var(--text-gray);
  font-size: var(--size-9);
  height: 100%;
  width: 100%;
}

.next-pre-btns {
  display: flex;
  font-size: var(--size-10);
  justify-content: space-between;
  margin-top: 3rem;
}

.next-pre-btns i {
  font-size: var(--size-10);
}

.code-container,
.demo-container {
  background-color: #eee;
  margin: 2rem 0 3rem;
  padding: var(--size-8);
  border-radius: 10px;
}

.code-container {
  max-height: 400px;
  overflow: auto;
}

.code-container code {
  width: 100%;
}

.code-container ::-webkit-scrollbar {
  display: none;
}

.demo-container {
  align-items: center;
  border: 1px solid var(--text-gray);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.demo-container > * {
  margin: 1rem 1rem 1rem 0;
}

/* github gist */

.gist-data {
  padding-right: 1rem;
}

.gist .gist-file {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 769px) {
  .docs-main {
    margin-left: 18rem;
    margin-top: 8rem;
    width: calc(100% - 18rem);
  }

  .aside-nav {
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 18rem;
    z-index: 1;
  }

  .aside-navigation {
    background-color: var(--background-color);
    height: 90vh !important;
    overflow-y: scroll !important;
    padding-left: var(--size-15);
    padding-top: var(--size-9);
  }

  .component-dropdown {
    display: none;
  }

  .docs.footer-wrapper {
    width: calc(100% - 18rem);
    margin-left: 18rem;
  }
}

@media screen and (min-width: 1250px) {
  .main-content {
    width: calc(100% - 30%);
  }

  .main-content aside {
    display: block;
    flex-shrink: 0;
    position: fixed;
    top: 8rem;
    right: -10rem;
    width: 30%;
  }

  .code-container,
  .demo-container {
    width: 90%;
    margin: 2rem auto 3rem;
  }
}
