/* header */

.logo {
  color: var(--primary-color);
  font-family: var(--logo-font-family);
  font-size: var(--size-11);
  font-weight: bold;
  user-select: none;
}

.header-wrapper {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--text-gray);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  position: relative;
}

.logo-wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.menu-btn {
  color: var(--primary-color);
}

.theme-switch-btn {
  color: var(--text-gray);
}

.navbar {
  background-color: var(--background-color);
  color: var(--text-primary);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s linear;
  width: 0;
  z-index: 1;
}

.nav-links {
  font-size: var(--size-10);
  margin: 4rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.nav-links li a {
  display: inline-block;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
}

.nav-links i {
  font-size: 20px;
}

.navbar-close-btn {
  color: var(--text-gray);
  font-size: 1.2rem;
  left: 20px;
  position: absolute;
  top: 20px;
  transition: all 0.3s linear;
}

.navbar-close-btn:hover {
  color: var(--text-primary);
}

.show-navbar {
  width: 60vw;
}

.active {
  color: var(--primary-color);
}

/* media queries  */
@media screen and (min-width: 769px) {
  .header {
    align-items: center;
    padding: 0 1rem;
  }

  .menu-btn,
  .navbar-close-btn {
    display: none;
  }

  .logo-wrapper {
    flex-basis: auto;
  }

  .navbar {
    background-color: transparent;
    width: auto;
    height: auto;
    flex-grow: 1;
    position: inherit;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 2rem;
    color: var(--white-text);
  }

  .nav-links li a {
    padding: 0.5rem;
  }

  .nav-links li:last-child {
    margin-left: auto;
    padding-top: 0;
  }
}
